@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }

body {
    font-family: CMR;
    font-size: 23px;
    text-align: Left;
}

.LatexTitle{
    font-family: CMR;
    font-size: 40px;
    padding-top: 40vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-bottom: 13px;
}
.LatexDate{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 45px;
}

.LatexAbstract{
    font-family: CMB;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:10px;
    font-family: CMR;
    font-size: 21px;
    text-align: center;
    text-align: justify;
    text-indent: 20px
}

.Margins{
    padding-left: 21%;
    padding-right: 21%;
}

.AbstractMargins{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 15px;
}

.Section, h1{
    font-family: CMB;
    font-weight: normal;
    font-size: 33px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}


.SubSection, h2{
    font-family: CMB;
    font-weight: normal;
    font-size: 29px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}

.BodyText, p{
    font-family: CMR;
    font-size: 23px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
    column-count: 1;
}

.inline-links {
  display: flex;
  gap: 1.5rem; /* spacing between links */
  flex-wrap: wrap; /* wraps on smaller screens */
  justify-content: center; /* centers the links horizontally */
}

.inline-links a {
  text-decoration: none;
  transition: color 0.2s;
}

.inline-links a:hover {
  text-decoration: underline;
}

.col-1{
    column-count: 1;
}

.BodyText2Col, .col-2{
    column-count: 2;
}

.BodyText3Col, .col-3{
    column-count: 3;
}

.Justified{
    text-align: justify;
    text-justify: inter-word;
}

.footerSize{
    height: 30vh;
    width: 100%;
}

.tiny{
    font-size: 8px;
}

.scriptsize{
    font-size: 11px;
}

.footnotesize{
    font-size: 13px;
}

.small{
    font-size: 15px;
}

.normalsize{
    font-size: 18px;
}

.large{
    font-size: 19px;
}

.Large{
    font-size: 23px;
}

.LARGE{
    font-size: 28px;
}

.huge{
    font-size: 33px;
}

.HUGE{
    font-size: 38px;
}

/* Print styles at the bottom */
@media print {
  .Margins, .LatexTitle {
    padding: 0 !important;
  }
  
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  p , ul li, a, .LatexName, .LatexDate{
    font-size: 16px !important;
  }

  h1, .LatexTitle {
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  p, ul {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  h2 {
    font-size: 18px !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }
  
  /* If you want to keep some specific margins */
  /* p, h1, h2, h3 {
    margin-bottom: 0.5rem !important;
  } */
}