@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }

html {
  font-size: 100%;
}

body {
    font-family: CMR;
    font-size: 1.4375rem;
    text-align: Left;
}

.LatexTitle{
    font-family: CMR;
    font-size: 2.5rem;
    padding-top: 40vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: CMR;
    font-size: 1.6875rem;
    text-align: center;
    margin-bottom: 13px;
}
.LatexDate{
    font-family: CMR;
    font-size: 1.6875rem;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 45px;
}

.LatexAbstract{
    font-family: CMB;
    font-weight: bold;
    font-size: 1.5625rem;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:10px;
    font-family: CMR;
    font-size: 1.3125rem;
    text-align: center;
    text-align: justify;
    text-indent: 20px
}

.Margins{
    padding-left: 21%;
    padding-right: 21%;
}

.AbstractMargins{
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 15px;
}

.Section, h1{
    font-family: CMB;
    font-weight: normal;
    font-size: 2.0625rem;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}


.SubSection, h2{
    font-family: CMB;
    font-weight: normal;
    font-size: 1.8125rem;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}

.BodyText, p {
    font-family: CMR;
    font-size: 1.4375rem;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
    column-count: 1;
}

ul, ol, li {
  font-family: CMR;
  font-size: 1.4375rem;
  line-height: 125%;
}

.inline-links {
  display: flex;
  gap: 1.5rem; /* spacing between links */
  flex-wrap: wrap; /* wraps on smaller screens */
  justify-content: center; /* centers the links horizontally */
}

.inline-links a {
  text-decoration: none;
  transition: color 0.2s;
}

.inline-links a:hover {
  text-decoration: underline;
}

.col-1{
    column-count: 1;
}

.BodyText2Col, .col-2{
    column-count: 2;
}

.BodyText3Col, .col-3{
    column-count: 3;
}

.Justified{
    text-align: justify;
    text-justify: inter-word;
}

.footerSize{
    height: 30vh;
    width: 100%;
}

.tiny{
    font-size: 0.5rem;
}

.scriptsize{
    font-size: 0.6875rem;
}

.footnotesize{
    font-size: 0.8125rem;
}

.small{
    font-size: 0.9375rem;
}

.normalsize{
    font-size: 1.125rem;
}

.large{
    font-size: 1.1875rem;
}

.Large{
    font-size: 1.4375rem;
}

.LARGE{
    font-size: 1.75rem;
}

.huge{
    font-size: 2.0625rem;
}

.HUGE{
    font-size: 2.375rem;
}

/* Print styles at the bottom */
@media print {
  html {
    font-size: 80%;
  }

  .Margins, .LatexTitle {
    padding: 0 !important;
  }

  .footerSize{
    height: 5vh;
  }
  
  body {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  p , ul li, a, .LatexName, .LatexDate{
    font-size: 0.875rem !important;
  }

  strong, b, .cv-entry-header {
    font-family: CMB;
    font-weight: normal;
  }

  .LatexTitle {
    font-size: 1.5rem !important;
  }

  h1 {
    font-size: 1rem !important;
  }

  h1, .LatexTitle {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  p, ul {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  h2 {
    font-size: 0.9rem !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  /* If you want to keep some specific margins */
  /* p, h1, h2, h3 {
    margin-bottom: 0.5rem !important;
  } */

  p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  body {
    line-height: 110%;
  }

  ul, ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0;
  }

  li {
    margin-bottom: 0 !important;
  }

  .inline-links {
    font-size: 0.7rem !important;
  }

  a {
    font-size: 0 !important;
  }

  a::after {
    content: attr(href);
    color: #000;
    font-size: 0.7rem !important;
  }
}
